In [1]:
import pandas as pd

In [2]:
a = 10

In [3]:
a

10

In [10]:
brands = pd.Series(["Audi","BMW","Mercedes","Ferrari"])

In [11]:
brands

0        Audi
1         BMW
2    Mercedes
3     Ferrari
dtype: object

In [31]:
colors = pd.Series(["red","white","Black","Blue"])

In [34]:
colors

0      red
1    white
2    Black
3     Blue
dtype: object

In [32]:
car_data = pd.DataFrame({"Car Make":brands,"color":colors})

In [33]:
car_data

   Car Make  color
0      Audi    red
1       BMW  white
2  Mercedes  Black
3   Ferrari   Blue

In [35]:
car_sales = pd.read_csv("car-sales.csv")

In [36]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [37]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [38]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [39]:
car_columns = car_sales.columns

In [40]:
car_columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [41]:
type(car_columns)

pandas.core.indexes.base.Index

In [42]:
type('Hello')

str

In [43]:
type(9878)

int

In [44]:
type({})

dict

In [45]:
type([])

list

In [46]:
type(())

tuple